<ion-content>
  <p>
    first works!
    {{ number }}
  </p>

  <ion-button (click)="updateValue()" fill="outline"> Update </ion-button>

  <app-form1></app-form1>
  <app-form2></app-form2>
  <ion-button routerLink="/second" routerDirection="root">
    Go to Second
  </ion-button>
</ion-content>
